<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1" name="viewport">
    	<title>Quienes Somos</title>
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<!-- Open graph -->
		<meta property="og:title" content="Simplemon" />
		<meta property="og:description" content="Simplemon es una red voluntaria de visualización de transporte público en tiempo real." />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="https://ahorabondi.glitch.me/img/ahorabondi.png" />
		<meta property="og:image:type" content="image/png" />
		<meta property="og:image:width" content="600" />
		<meta property="og:image:height" content="315" />
		<meta property="og:url" content="https://ahorabondi.glitch.me"/>		
		<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
		<base href="/">
        <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
		<link href='https://fonts.googleapis.com/css?family=Raleway:400,700,300,200' rel='stylesheet' type='text/css'>        
    	<link href='/css/bulma.css' rel='stylesheet' />
    	<link href='/css/app.css' rel='stylesheet' />
    </head>
	<body>
		<section class="section">
		    <div class="container">
				<nav class="navbar is-transparent">
				  <div class="navbar-brand">
			    	<div class="pin">	
			      		<h1>Simplemon</h1>
					</div>
				    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
				      <span></span>
				      <span></span>
				      <span></span>
				    </div>
				  </div>

				  <div id="navbarExampleTransparentExample" class="navbar-menu">
				    <div class="navbar-start">

				      <a class="navbar-item" href="/">
				        Inicio
				      </a>

				      <a class="navbar-item" href="/ops">
				        Ops
				      </a>

				      <a class="navbar-item" href="/quienes-somos">
				        Quienes somos
				      </a>	

				      <div class="navbar-item has-dropdown is-hoverable">
				        <a class="navbar-link" href="/documentation/overview/start/">
				          Trabajos recientes
				        </a>
				        <div class="navbar-dropdown is-boxed">
				          <a class="navbar-item" href="https://automovilshop.com" target="_blank">
				            Automovilshop
				          </a>
				          <a class="navbar-item" href="https://senders.com.ar">
				            Senders
				          </a>
				          <a class="navbar-item" href="https://verusados.com">
				            Ver Usados
				          </a>
				        </div>
				      </div>
				    </div>
				  </div>
				</nav>		      		
		     	
		     	<div class="content faq">
			     	<h1>Quienes somos</h1>

			     	<p class="subtitle">
			     		En <strong>Simplemon</strong> trabajamos todos los días para hacer realidad tu negocio o idea en internet.
			     	</p>

			     	<h4><a href="/quienes-somos#objetivo" id="objetivo">Objetivo</a></h4>

			      	<p>
			        	Somos un grupo de desarrolladores, diseñadores y testers que se unen con el único objetivo de divertirse ilustrando y/o escribiendo código para proyectos apasionantes. El amor y la curiosidad por nuestro trabajo nos impulsan a colaborar con otras empresas que necesitan asistencia técnica o consutoría para gestionar su modelo de datos y mantener su hardware y software en excelentes condiciones de rendimiento y seguridad.
			        </p>

			        <h4><a href="/quienes-somos#beneficios" id="beneficios">Porque amamos lo que hacemos</a></h4>

			        <p> 
			        	En <strong>Simplemon</strong> estamos convencidos de que para iniciar un proyecto hay que entenderlo bien y amarlo. Nos aseguramos de generar una buena intención con cada uno de ellos no solo para lograr el éxito de los proyectos, sino para divertirnos en el desarrollo. La simplicidad en el enfoque y la selección de objetivos es clave para nosotros.
			        </p>

			        <p>
			        	También tenemos muy en claro que no solo lidiamos diariamente con computadoras, sino con seres humanos que necesitan divertirse y soñar con sus proyectos. La comunicación es una de los pilares fundamentales de cada uno de nuestros desafíos.
			        </p>

			      	<h4><a href="/quienes-somos#desarrollamos-software" id="desarrollamos-software">¿Es caro desarrollar un proyecto con ustedes?</a></h4>

			      	<p>
			      		Definitivamente no. Ofrecemos una tarifa hora razonable para cada uno de nuestras tareas de desarrollo y operaciones en general. Consultanos, te vas a sorprender lo accesible en términos económicos que es trabajar con nosotros. <br>
			      		¿Tenés un proyecto para ofrecernos?<br><br>

			      		<a href="mailto:devmetasoft@gmail.com?Subject=Tengo un proyecto para desarrollar" class="button is-danger">Sí, tengo un proyecto para desarrollar</a>
			      	</p>

			      	<h4><a href="/quienes-somos#quiero-participar" id="quiero-participar">¿Qué valoramos en <strong>Simplemon</strong>?</a></h4>

			      	<p>
			      		En <strong>Simplemon</strong> siempre estamos buscando nuevos y mejores desafíos, con colegas que estén a la altura de estos desafíos. Valoramos el trato humano, la cordialidad y la responsabilidad por sobre todas las cosas. 
			      	</p>

			      	<p>
			      		Nunca olvidamos agradecer el buen trato y comunicación fluida con nuestros clientes. De esta manera nos aseguramos que llegaremos al objetivo planteado de la manera mas simple posible.
			      	</p>
					
					<hr>
			      	<h1>¿Querés ser parte de <strong>Simplemon</strong>?</h1>
			      	<a href="/quiero-participar" class="button is-danger">Sí, quiero participar</a>
			     </div>
		    </div>
			<footer class="footer">
			  <div class="container">
			    <div class="content has-text-centered">
			      <p>
			        <strong>Simplemon</strong> 2018. Con la colaboración de <a href="https://glitch.com" target="_blank">Glitch</a> y <a href="https://mlab.com" target="_blank">mLab</a>.
			      </p>
			      	<p>
			      	    <a href="https://bulma.io" target="_blank">
        					<img src="/img/made-with-bulma.png" alt="Made with Bulma" width="128" height="24">
      					</a><br>
      					<small>Este sitio no guarda cookies. Tampoco usa analytics.</small>
      				</p>

			    </div>
			  </div>
			</footer>		    
		</section>
		<script type="text/javascript" src="/js/app.js"></script>
		<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

	</body>
</html>